@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

@font-face {
  font-family: 'modelica-bold';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url('/fonts/BwModelica-Bold.woff2') format('woff2'),
    url('/fonts/BwModelica-Bold.otf') format('otf');
}

@font-face {
  font-family: 'modelica-medium';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url('/fonts/BwModelica-Medium.woff2') format('woff2'),
    url('/fonts/BwModelica-Medium.otf') format('otf');
}

@font-face {
  font-family: 'modelica-light';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url('/fonts/BwModelica-Light.woff2') format('woff2'),
    url('/fonts/BwModelica-Light.otf') format('otf');
}

@font-face {
  font-family: 'modelica-extrabold';
  src: url('/fonts/BwModelica-ExtraBold.woff2') format('woff2'),
    url('/fonts/BwModelica-ExtraBold.otf') format('otf');
}

* {
  font-family: 'modelica-light';
}

p {
  font-family: 'modelica-medium';
  font-size: 1rem;
}

h3 {
  font-family: 'modelica-light';
  font-size: 1rem;
}

.font-light {
  font-family: 'modelica-light';
}

h1 {
  font-family: 'modelica-extrabold';
  font-size: 2rem;
}
